/* CSS  By Daniel Lizarte Cáceres */

/* General Structure */
body, html {
    height: 100%;
    margin: 0;
}


/* Body Aboutme */
body#initAboutme {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background:url("../resources/wallpaper_draw_maffhu2.jpg"),  linear-gradient(to bottom, #88e0f8 20%, #a1d9b0 50%, #95d261 80%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden; 
    
}

div#container_window_info{
    display: block;
    width: 65vw; 
    height: 65vw; 
    background-image: url("../resources/window_info.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    z-index:1;
   
}

#container_bar_aboutme {
    display: flex;
    align-items: flex-start; 
    width: 80vw; 
    height: 4vw; 
    
    margin-top:15.8%;
}

#title_aboutme {
    width: 20vw; 
    height: 2vw;
    font-size: 2vw; 
    font-style: italic;
    color: white;
    margin-top: 0.8%;
    margin-left:5%
}

#button_back {
    width: 7vw; 
    height: 2.5vw;
    font-size: 1.5vw; 
    font-style: italic;
    color: black;
    margin-top: 0.8%; 
    margin-left: 41%; 
    display:none;
    border: 0.2vw solid black;
    padding:0.1vw;
}


#info_content_container {
    
    display:flex;
    width: 62.8vw;
    height: 38.3vw;
    margin-left: 1.6%;
    margin-right: 2%;
    overflow-y: none; 
    background-color: #d2fffd;
    margin-top:1.66%;
    z-index:2;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    overflow: hidden; 
    
     
}


#text_info_content{
    color:black;
    font-size:1.3vw;
    margin-top:2%;
    margin-bottom:20%;
    text-align: justify;
    padding:2%;
    height: 70%;
    overflow: hidden;
    font-family: 'Times New Roman';
}


  
#foto_aboutme {
    width: 15vw;
    height: 15vw;
    margin-top: 5.4%;
    margin-left: -27.5%;
    padding: 0.25vw;
    background: rgb(0 0 0);
    padding: 0.15vw;
    border-radius: 5%;
}

#online_now {
    width: 10vw;
    height: 2.5vw;
    margin-top: 30%;
    margin-left: -20.5%;
    padding: 0.25vw;
    
    padding: 0.15vw;
    border-radius: 5%;
}



#title_name{

    padding:2%;
    width:100%;
    height: 15%; 
    font-size:2vw; 
    color: rgb(1, 143, 143); 
    background-color: rgb(158, 240, 213);
    font-family: 'Times New Roman'; 
    white-space: nowrap; 
    text-align: center;
    margin-bottom: 0;
    border-radius:2%;
}

#rectangle_resources{
    border: 0.2vw solid black;
    width: 97%;
    height: 9.4vw;
    margin-right:4%;
    margin-top:2%;
    margin-left:2%;
    font-size:2vw;
    border-radius:1%;
}

#list_resources{
    
    
    font-family: 'Times New Roman'; 
    color: black; 
    
    font-size:1.6vw; 
    margin-left:2%; 
    height: 2%; 
    margin-top: -3%; 
    text-align: left;
}

#list_resources p {
    font-size:1.3vw;
    display:block;
    margin-bottom: 25%; 
    margin-left:7%;
    margin-top:-25%;
    width:50%;
}

#blog_icon{

    margin-left:62%;
    width:9vw; 
    height:9vw;
    
}

#info_content{
    margin-left:42%;
    position: absolute;
    margin-right:2%;
}

#rectangle_contact{
    border:0.2vw solid black;
    margin-top:35%; 
    width: 32%;
    height:40%;
    font-size:2vw;
    margin-left:-23%;
    padding:1%;
    border-radius:2%;
}

/* For Vertical Mobile/Tablet */
@media only screen and (max-width: 900px) and (max-height: 900px) and (orientation: portrait), 
       only screen and (max-width: 900px) and  (orientation: portrait) {


        div#container_window_info{
            display: block;
            width: 75vw; 
            height: 45vw; 
            
            background-image: url("../resources/window_info.png");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            
            left: 50%;
            transform: translateY(-12%) translateX(-50%) scale(1.5);
            overflow: hidden;
            z-index:1;
        
        }

        /* #container_bar_aboutme{
            margin-top:0.5%;
           
        }

        #info_content_container {
    
            display:flex;
            width: 62.8vw;
            height: 38.3vw;
            margin-left: 1.6%;
            margin-right: 2%;
            overflow-y: none; 
            background: url(" ");
            background-color:#dbf6fe;
            margin-top:1.66%;
            z-index:2;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            
            overflow: hidden; 
            
             
        }

        #text_info_content{
            color:black;
            font-size:0.5vw;
            margin-top:2%;
            margin-bottom:20%;
            text-align: justify;
            padding:2%;
            height: 70%;
            overflow: hidden;
            font-family: 'Times New Roman';
        }

        #foto_aboutme {
        
            margin-left: -30%;
            
        } */

}

/* For Horizontal Mobile
@media only screen and (min-width: 600px) and (max-width: 950px) and (orientation: landscape) {
    
    div#container_window_info{
        transform: translate(-50%, -50%) scale(0.83);
    }

    #foto_aboutme {
        
        margin-left: -30%;
        
    }


    #text_info_content{
        
        font-size:1.18vw;
       
    }


}

/* For Horizontal Tablet 
@media only screen and (min-width: 768px) and (max-width: 2100px) and (max-height: 1300px) and (orientation: landscape) {
    #foto_aboutme {
        
        margin-left: -28%;
        
    }
} */

