/* CSS  By Daniel Lizarte Cáceres */

/* General Structure */
body, html {
    height: 100%;
    margin: 0;
}

/* Body Desktop */
body#initIndex {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background:url("../resources/wallpaper_draw_maffhu3.png"),  linear-gradient(to bottom, #88e0f8 20%, #a1d9b0 50%, #95d261 80%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden; 
}

/* Init Sesion  */

#centeredContainerSesion {
    display: block;
    width: 30vw; /* Ajusta según tus necesidades */
    height: 30vw; /* Ajusta según tus necesidades */
    background-image: url("../resources/pruebaventana3.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    z-index:1;
}

#centeredContainerSesionTitle {
    width: 1000px;
    height: 50px;
    
    margin-top:40%;
    margin-left: 15%;
    font-size: 2vw; /* Ajusta según tus necesidades */
    color: black;
    font-weight: bold;
   
}

#progressBlockBarContent {

    width: 20vw;
    height: 1vw;
    margin-top:10%;
    margin-left: 16%;
    font-size: 2vw;
}


/* Display:none; to  Hide elements before initiating session then JS activates them*/
/* Icons Desktop Row 1 */
#iconContainer1 {
    display: flex;
    
}

/* Icon Learning Desktop */
#learning_file {
    position: relative;
    margin-top: 2%;
    margin-left:2.5%
}

#icon_file_learning {
    display: none;
    width: 6em;
    height: auto;
    margin-left: 12.5%;
    cursor: pointer;
}

h3#text_learning {
    display: none;
    width: 102%;
    height: 21%;
    position: relative;
    font-size: 170%;
    font-family: consolas;
    font-weight: bolder;
    color: black;

    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 1.75vw; 
    padding: 0.6vw; 
    padding-bottom: 3.0vh; 
    padding-top: 0px;
    box-shadow: 0 4px 8px #000;
    overflow: hidden;
    word-wrap: break-word;
    word-break: normal;
    cursor: pointer;
    transition: background-color 0.3s;
   
}

h3#text_learning:hover {
    background-color: rgba(255, 255, 255, 1); 
    
}


/* Icon Projects Desktop */
#project_file {
    position: relative;
    margin-left: 5%;
    margin-top: 2.25%;
}

#icon_file_project {
    display: none;
    width: 5.75em;
    height: auto;
    margin-left: 12.5%;
    cursor: pointer;
   
}

h3#text_project {
    display: none;
    width: 100%;
    height: 21%;
    position: relative;
    font-size: 170%;
    font-family: consolas;
    font-weight: bolder;
    color: black;
    

    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 1.75vw; 
    padding: 0.6vw; 
    padding-bottom: 3.0vh;
    padding-top: 0px;
    box-shadow: 0 4px 8px #000;
    overflow: hidden;
    cursor: pointer;
    transition: background-color 0.3s;
}

h3#text_project:hover {
    background-color: rgba(255, 255, 255, 1); 
    
}


/* Icons Desktop Row 2 */
#iconContainer2 {
    display: flex;
    
}

/* Icon Experience Desktop */
#experience_file {
    position: relative;
    margin-top: 2%;
    margin-left: 2%;

}

#icon_file_experience {
    display: none;
    width: 6em;
    height: auto;
    
    cursor: pointer;
    margin-left:17.5%;
}

h3#text_experience {
    display: none;
    width: 100%;
    height: 21%;
    position: relative;
    font-size: 170%; 
    margin-left:-1%;
    
    font-family: consolas;
    font-weight: bolder;
    color: black;

    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 1.75vw; 
    padding: 0.6vw; 
    padding-bottom: 3.0vh;
    padding-top: 0px;
    box-shadow: 0 4px 8px #000;
    overflow: hidden;

    margin-top:5%;
    cursor: pointer;
    transition: background-color 0.3s;
}

h3#text_experience:hover {
    background-color: rgba(255, 255, 255, 1); 
    
}

/* Icon Resume Desktop */
#resume_file { 
    position:relative;
    margin-left: 4.5%;
    margin-top: 2.25%;
}

#icon_file_resume {
    display: none;
    width: 6em;
    height: auto;
    cursor: pointer;
}

h3#text_resume {
    display: none;
    width: 100%;
    height: 20%;
    position: relative;
    font-size: 170%;
    font-family: consolas;
    font-weight: bolder;
    color: black;

    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 1.75vw; 
    padding: 0.6vw; 
    padding-bottom: 3.0vh;
    padding-top: 0px;
    box-shadow: 0 4px 8px #000;
    overflow: hidden;
    margin-top:5%;
    cursor: pointer;
    transition: background-color 0.3s;
}

h3#text_resume:hover {
    background-color: rgba(255, 255, 255, 1); 
    
}


/* Icons Desktop Row 3 */
#iconContainer3 {
    display: flex;
    
}

/* Icon AboutMe Desktop */
#aboutme_file {
    position: relative;
    margin-top: 2%;
    margin-left: 2.5%;
    
}

#icon_file_aboutme {
    display: none;
    width: 6em;
    height: auto;
    
    cursor: pointer;
    margin-left:17.5%;
}

h3#text_aboutme {
    display: none;
    width: 100%;
    height: 20%;
    position: relative;
    font-size: 170%; 
    margin-left: 4%;
    margin-top:5%;
    font-family: consolas;
    font-weight: bolder;
    color: black;

    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 1.75vw; 
    padding: 0.6vw; 
    padding-bottom: 3.0vh;
    padding-top: 0px;
    box-shadow: 0 4px 8px #000;
    overflow: hidden;
    cursor: pointer;
    transition: background-color 0.3s;
}

h3#text_aboutme:hover {
    background-color: rgba(255, 255, 255, 1); 
    
}

/* Icon Contact Desktop */
#contact_file {
    
    position: relative;
    margin-left: 5.5%;
    margin-top: 2.25%;
}

#icon_file_contact {
    display: none;
    width: 6em;
    height: auto;
    margin-left: 15%;
    cursor: pointer;
}

h3#text_contact {
    display: none;
    width: 100%;
    height: 20%;
    position: relative;
    font-size: 170%;
    font-family: consolas;
    font-weight: bolder;
    color: black;
    margin-left:4%;
    
    
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 1.75vw;
    padding: 0.6vw; 
    padding-bottom: 3.0vh;
    padding-top: 0px;
    box-shadow: 0 4px 8px #000;
    overflow: hidden;
    cursor: pointer;
    transition: background-color 0.3s;
}

h3#text_contact:hover {
    background-color: rgba(255, 255, 255, 1); 
    
}
   


/* For Vertical Mobile/Tablet */
@media only screen and (max-width: 900px) and (max-height: 900px) and (orientation: portrait), 
       only screen and (max-width: 900px) and  (orientation: portrait) {

        
    /* Init Sesion */

    #centeredContainerSesion {
        display: block;
        width: 90vw; 
        height: 90vw; 
        background-image: url("../resources/pruebaventana3.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
        z-index:1;
    }

    #centeredContainerSesionTitle {
        width: 1000px;
        height: 50px;
        
        margin-top:40%;
        margin-left: 23%;
        font-size: 5vw; 
        color: black;
        font-weight: bold;
    
    }

    #progressBlockBarContent {

        width: 160px;
        height: 15px;
        margin-top:-20%;
        margin-left: 26%;
    } 
    
    
    /* Icon Learning Desktop */
    #learning_file {
        position: relative;
        margin-top: 2%;
        margin-left:20%;
        margin-right:90%;
        float: left;
    }
    
    #icon_file_learning {
        width: 6em;
        height: auto;
        display: none;
        cursor: pointer;
        margin-left: 40%
    }
    
    h3#text_learning {
        display: none;
        width: 100%;
        height: 10%;
        position: relative;
        font-size: 170%; 
        
        margin-left: 35%;
        background-color: transparent; /* Quita el fondo */
        box-shadow: none; /* Quita la sombra */
        overflow: visible;
        word-break:normal;
        cursor: pointer;
        
        background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con transparencia */
        border-radius: 15px; /* Bordes circulares */
        padding: 0.6vw; /* Espacio interno para que el texto no toque los bordes */
        padding-bottom: 5.0vh;
        padding-top: 0px;
        box-shadow: 0 4px 8px #000;
        overflow: hidden;
        cursor: pointer;
    }
    
    /* Icon Projects Desktop */
    #project_file {
        position: absolute;
        margin-left:60%;
        margin-right: 26%;
        margin-top: 1%;
        
    }
    
    #icon_file_project {
        width: 6em;
        height: auto;
        display: none;
        cursor: pointer;
    }
    
    h3#text_project {
        display: none;
        width: 100%;
        height: 10%;
        position: relative;
        font-size: 170%;
        background-color: transparent; /* Quita el fondo */
        box-shadow: none; /* Quita la sombra */
        overflow: visible;
        cursor: pointer;
        margin-left:1%;

        
        background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con transparencia */
        border-radius: 15px; /* Bordes circulares */
        padding: 0.6vw; /* Espacio interno para que el texto no toque los bordes */
        padding-bottom: .0vh;
        padding-top: 0px;
        box-shadow: 0 4px 8px #000;
        overflow: hidden;
        cursor: pointer;
    }

    
    
    /* Icon Experience Desktop */
    #experience_file {
        position: relative;
        margin-top: 2%;
        margin-left:19%;
        width:6.7em;
        
    }
    
    #icon_file_experience {
        width: 6em;
        height: auto;
        display: none;
        cursor: pointer;
        margin-left:55%;
    }
    
    h3#text_experience {
        display: none;
        width: 141%;
        height: 10%;
        position: relative;
        font-size: 170%; 
        
        margin-left:30%;
        background-color: transparent; /* Quita el fondo */
        box-shadow: none; /* Quita la sombra */
        overflow: visible;
        cursor: pointer;

            
        background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con transparencia */
        border-radius: 15px; /* Bordes circulares */
        padding: 0.9vw; /* Espacio interno para que el texto no toque los bordes */
        padding-bottom: 5.0vh;
        padding-top: 0px;
        box-shadow: 0 4px 8px #000;
        overflow: hidden;
        cursor: pointer;
    }
    
    
    /* Icon Resume Desktop */
    #resume_file {
        position:absolute;
        margin-left: 51%;
        margin-right:60%;
        margin-top: 2%;
        
        
    
    }
    
    #icon_file_resume {
        width: 6em;
        height: auto;
        display: none;
        cursor: pointer;

    }
    
    h3#text_resume {
        display: none;
        width: 100%;
        height: 10%;
        position: relative;
        font-size: 170%;
        background-color: transparent; /* Quita el fondo */
        box-shadow: none; /* Quita la sombra */
        overflow: visible;
        cursor: pointer;

        
        background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con transparencia */
        border-radius: 15px; /* Bordes circulares */
        padding: 0.6vw; /* Espacio interno para que el texto no toque los bordes */
        padding-bottom: .0vh;
        padding-top: 0px;
        box-shadow: 0 4px 8px #000;
        overflow: hidden;
        cursor: pointer;
    }
    
    
  
    
    /* Icon AboutMe Desktop */
    #aboutme_file {
      
        position: relative;
        margin-top: 2.5%;
        margin-left:18.5%;
        
    }
    
    #icon_file_aboutme {
        width: 6em;
        height: auto;
        display: none;
        cursor: pointer;
        margin-left:45%;
    }
    
    h3#text_aboutme {
        display: none;
        width: 100%;
        height: 10%;
        position: relative;
        font-size: 170%; 
        
        margin-left:35%;
        background-color: transparent; /* Quita el fondo */
        box-shadow: none; /* Quita la sombra */
        overflow: visible;
        cursor: pointer;

            
        background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con transparencia */
        border-radius: 15px; /* Bordes circulares */
        padding: 0.6vw; /* Espacio interno para que el texto no toque los bordes */
        padding-bottom: 5.0vh;
        padding-top: 0px;
        box-shadow: 0 4px 8px #000;
        overflow: hidden;
        cursor: pointer;
    }
    
    /* Icon Contact Desktop */
    #contact_file {
        position: absolute;
        margin-left: 59%;
        margin-right:60%;
        margin-top: 2.5%;
    }
    
    #icon_file_contact {
        width: 6em;
        height: auto;
        display: none;
        cursor: pointer;

    }
    
    h3#text_contact {
        display: none;
        width: 100%;
        height: 10%;
        position: relative;
        font-size: 170%;
        background-color: transparent; /* Quita el fondo */
        box-shadow: none; /* Quita la sombra */
        overflow: visible;
        cursor: pointer;
        margin-left:1%;

        
        background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con transparencia */
        border-radius: 15px; /* Bordes circulares */
        padding: 0.6vw; /* Espacio interno para que el texto no toque los bordes */
        padding-bottom: .0vh;
        padding-top: 0px;
        box-shadow: 0 4px 8px #000;
        overflow: hidden;
        cursor: pointer;
       
    }

}

/* For Vertical Tablet */
@media only screen and (min-width: 601px) and (max-width: 900px) and (orientation: portrait) {

    #progressBlockBarContent {

        width: 160px;
        height: 15px;
        margin-top:-20%;
        margin-left: 26%;
    } 

    /* Icon Learning Desktop */
    #learning_file {
        position: relative;
        margin-top: 2%;
        margin-left:20%;
        margin-right:90%;
        float: left;
    }
    
    #icon_file_learning {
        width: 6em;
        height: auto;
        cursor: pointer;
        margin-left: 40%
    }
    
    h3#text_learning {
        width: 100%;
        height: 10%;
        position: relative;
        font-size: 170%; 
        
        margin-left: 35%;
        background-color: transparent; /* Quita el fondo */
        box-shadow: none; /* Quita la sombra */
        overflow: visible;
        word-break:normal;
        cursor: pointer;
        
        background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con transparencia */
        border-radius: 15px; /* Bordes circulares */
        padding: 0.6vw; /* Espacio interno para que el texto no toque los bordes */
        padding-bottom: 3.0vh;
        padding-top: 0px;
        box-shadow: 0 4px 8px #000;
        overflow: hidden;
        cursor: pointer;
    }
    
    /* Icon Projects Desktop */
    #project_file {
        position: absolute;
        margin-left:60%;
        margin-right: 26%;
        margin-top: 2%;
        
    }
    
    #icon_file_project {
        width: 6em;
        height: auto;
        cursor: pointer;
    }
    
    h3#text_project {
        width: 100%;
        height: 10%;
        position: relative;
        font-size: 170%;
        background-color: transparent; /* Quita el fondo */
        box-shadow: none; /* Quita la sombra */
        overflow: visible;
        cursor: pointer;
        margin-left:4%;

        
        background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con transparencia */
        border-radius: 15px; /* Bordes circulares */
        padding: 0.6vw; /* Espacio interno para que el texto no toque los bordes */
        padding-bottom: .0vh;
        padding-top: 0px;
        box-shadow: 0 4px 8px #000;
        overflow: hidden;
        cursor: pointer;
    }

    
    
    /* Icon Experience Desktop */
    #experience_file {
        position: relative;
        margin-top: 2%;
        margin-left:19%;
        width:6.7em;
        
    }
    
    #icon_file_experience {
        width: 6em;
        height: auto;
        cursor: pointer;
        margin-left:55%;
    }
    
    h3#text_experience {
        width: 141%;
        height: 10%;
        position: relative;
        font-size: 170%; 
        
        margin-left:30%;
        background-color: transparent; /* Quita el fondo */
        box-shadow: none; /* Quita la sombra */
        overflow: visible;
        cursor: pointer;

            
        background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con transparencia */
        border-radius: 15px; /* Bordes circulares */
        padding: 0.9vw; /* Espacio interno para que el texto no toque los bordes */
        padding-bottom: 3.0vh;
        padding-top: 0px;
        box-shadow: 0 4px 8px #000;
        overflow: hidden;
        cursor: pointer;
    }
    
    
    /* Icon Resume Desktop */
    #resume_file {
        position:absolute;
        margin-left: 61%;
        margin-right:60%;
        margin-top: 2%;
        
        
    
    }
    
    #icon_file_resume {
        width: 6em;
        height: auto;
        cursor: pointer;

    }
    
    h3#text_resume {
        width: 100%;
        height: 10%;
        position: relative;
        font-size: 170%;
        background-color: transparent; /* Quita el fondo */
        box-shadow: none; /* Quita la sombra */
        overflow: visible;
        cursor: pointer;

        
        background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con transparencia */
        border-radius: 15px; /* Bordes circulares */
        padding: 0.6vw; /* Espacio interno para que el texto no toque los bordes */
        padding-bottom: .0vh;
        padding-top: 0px;
        box-shadow: 0 4px 8px #000;
        overflow: hidden;
        cursor: pointer;
    }
    
    
  
    
    /* Icon AboutMe Desktop */
    #aboutme_file {
      
        position: relative;
        margin-top: 2.5%;
        margin-left:18.5%;
        
    }
    
    #icon_file_aboutme {
        width: 6em;
        height: auto;
        cursor: pointer;
        margin-left:46%;
    }
    
    h3#text_aboutme {
        width: 100%;
        height: 10%;
        position: relative;
        font-size: 170%; 
        
        margin-left:35%;
        background-color: transparent; /* Quita el fondo */
        box-shadow: none; /* Quita la sombra */
        overflow: visible;
        cursor: pointer;

            
        background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con transparencia */
        border-radius: 15px; /* Bordes circulares */
        padding: 0.6vw; /* Espacio interno para que el texto no toque los bordes */
        padding-bottom: 3.0vh;
        padding-top: 0px;
        box-shadow: 0 4px 8px #000;
        overflow: hidden;
        cursor: pointer;
    }
    
    /* Icon Contact Desktop */
    #contact_file {
        position: absolute;
        margin-left: 61%;
        margin-right:60%;
        margin-top: 2.5%;
    }
    
    #icon_file_contact {
        width: 6em;
        height: auto;
        cursor: pointer;

    }
    
    h3#text_contact {
        width: 100%;
        height: 10%;
        position: relative;
        font-size: 170%;
        background-color: transparent; /* Quita el fondo */
        box-shadow: none; /* Quita la sombra */
        overflow: visible;
        cursor: pointer;
        margin-left:4%;

        
        background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con transparencia */
        border-radius: 15px; /* Bordes circulares */
        padding: 0.6vw; /* Espacio interno para que el texto no toque los bordes */
        padding-bottom: .0vh;
        padding-top: 0px;
        box-shadow: 0 4px 8px #000;
        overflow: hidden;
        cursor: pointer;
       
    }
    
}

/* For Vertical Mobile */
@media only screen and (max-width: 500px) and (orientation: portrait){

    /* Body Desktop */
    body#initIndex {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background:url("../resources/wallpaper_draw_maffhu3.png"),  linear-gradient(to bottom, #88e0f8 20%, #a1d9b0 50%, #95d261 80%);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 200vh;
        overflow: hidden; 
    }

    

    #learning_file {
        position: relative;
        margin-top: -7%;
        margin-left:4%;
        margin-right:90%;
        float: left;
        transform: scale(0.6);
        
    }

    #project_file {
        position:absolute;
        margin-left: 60%;
        margin-right:200%;
        margin-top: -4%; 
        transform: scale(0.6); 
        float: right;

        
    }

    h3#text_project {
        margin-left:6%;
    }

    #experience_file {
        position: relative;
        margin-top: -25%;
        margin-left:2.75%;
        width:6.7em;
        /*transform: translateX(-80%) translateY(-90%) scale(0.6);*/
        transform: scale(0.6);
        float: left;
        
    }

    h3#text_experience {
        width: 137%;
        
    }

    #resume_file {
        position:absolute;
        margin-left: 61%;
        margin-right:200%;
        margin-top: -23%; 
        transform: scale(0.6); 
        float: right;
        
    
    }

    #aboutme_file {
      
        position: relative;
        margin-top: -25%;
        margin-left:2.5%;
        transform: scale(0.6);
        float: left;
        
    }

    #contact_file {
        position: absolute;
        margin-left: 61%;
        margin-right:200%;
        margin-top: -23.7%;
        transform: scale(0.6);
        float: right;
    }

    h3#text_contact {
        margin-left:7%;
        margin-top:10%;
    }
    
    
   

}


/*For Horizontal Mobile*/
@media only screen and (min-width: 600px) and (max-width: 950px) and (orientation: landscape) {

    /* Init Sesion */

    #centeredContainerSesion {
        display: block;
        width: 60vw; 
        height: 60vw; 
        background-image: url("../resources/pruebaventana3.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
        z-index:1;
    }

    #centeredContainerSesionTitle {
        width: 1000px;
        height: 50px;
        
        margin-top:40%;
        margin-left: 20%;
        font-size: 4vw; 
        color: black;
        font-weight: bold;
    
    }

    #progressBlockBarContent {

        width: 265px;
        height: 17px;
        margin-top:10%;
        margin-left: 20%;
    } 

     /* Body Desktop */
     body#initIndex {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background:url("../resources/wallpaper_draw_maffhu3.png"),  linear-gradient(to bottom, #88e0f8 20%, #a1d9b0 50%, #95d261 80%);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 200vh;
        overflow: hidden; 
    }

    

    #learning_file {
        position: relative;
        margin-top: -2%;
        margin-left:3%;
        margin-right:90%;
        float: left;
        transform: scale(0.6);
        
    }

    h3#text_learning {
        margin-left:4%;
    }

    #project_file {
        position:absolute;
        margin-left: 80%;
        margin-right:200%;
        margin-top: -1%; 
        transform: scale(0.6); 
        float: right;
        
    }

    #icon_file_project{
        margin-left:4%;
    }

    h3#text_project {
       
        margin-left:-2%;
        padding-bottom: 0.0vh;
        
    }

    #experience_file {
        position: relative;
        margin-top: -8%;
        margin-left:2.5%;
        width:6.7em;
        /*transform: translateX(-80%) translateY(-90%) scale(0.6);*/
        transform: scale(0.6);
        float: left;
        
    }

    #icon_file_experience {
        margin-left:27%;
    }


    h3#text_experience {
        
        width: 139%;
        margin-left:1%
    }

    #resume_file {
        position:absolute;
        margin-left: 80%;
        margin-right:200%;
        margin-top: -7%; 
        transform: scale(0.6); 
        float: right;
        
    }

    h3#text_resume {
       
        padding-bottom: 0.0vh;
        
    }

    #aboutme_file {
      
        position: relative;
        margin-top: -8%;
        margin-left:2.5%;
        transform: scale(0.6);
        float: left;
        
    }

    h3#text_aboutme {
        margin-top:0%;
    }

    #contact_file {
        position: absolute;
        margin-left: 80%;
        margin-right:200%;
        margin-top: -8%;
        transform: scale(0.6);
        float: right;
    }

    h3#text_contact {
       margin-left:5%;
       padding-bottom: 0.0vh;
        
    }

    

}

