/* CSS  By Daniel Lizarte Cáceres */

/* General Structure */
body, html {
    height: 100%;
    margin: 0;
    
}

h1{
    color:yellow;
}

/* Body Learning */
body#initExperience {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background:url("../resources/wallpaper_draw_maffhu2.jpg"),  linear-gradient(to bottom, #88e0f8 20%, #a1d9b0 50%, #95d261 80%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden; 
    
}

div#container_window_info{
    display: block;
    width: 65vw; /* Ajusta según tus necesidades */
    height: 65vw; /* Ajusta según tus necesidades */
    background-image: url("../resources/window_info.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    z-index:1;

}

#container_bar_learning {
    display: flex;
    /*justify-content: space-between;*/
    align-items: flex-start; /* Alinea los elementos al inicio del contenedor */
    width: 80vw; /* Ajusta según tus necesidades */
    height: 4vw; /* Ajusta según tus necesidades */
    
    margin-top:15.8%;
}

#title_learning {
    width: 20vw; /* O ajusta según tus necesidades */
    height: 2vw;
    font-size: 2vw; /* Ajusta según tus necesidades */
    font-style: italic;
    color: white;
    margin-top: 0.8%;
    margin-left:5%
}

#button_back {
    width: 7vw; /* O ajusta según tus necesidades */
    height: 2.5vw;
    font-size: 1.5vw; /* Ajusta según tus necesidades */
    font-style: italic;
    color: black;
    margin-top: 0.8%; /* Ajusta según tus necesidades */
    margin-left: 41%; /* Ajusta según tus necesidades */
    display:none;
    border: 0.2vw solid black;
    padding:0.1vw;
}


#info_content_container_1 {
    
    width: 62.8vw;
    height: 38.3vw;
    margin-left: 1.6%;
    margin-right: 2%;
    overflow-y: none; 
    background-color:rgb(255, 255, 255);
    margin-top:1.66%;
    z-index:2;
     
}

.text_info_content{
    color:black;
    font-size:2vw;

}

#bar_menu_info{
    display:block;
    height:100%;
    width:30%;
    background-color: #c7ffff;
   

}

#bar_menu_explorer{
    height: 0.1vw;
    margin-left:5%;
    font-family:'Gill Sans' ;
    
}


details {
    
   
    padding-left: 0.2vw;
    margin-bottom: 0.5em;
    font-size:2vw;

}

details > summary {
    display: block;
    cursor: pointer;
    color: blue;
    padding-top:5%;
    border-left: 0.3vw solid #000;
    font-size:1.5vw;
    padding-left: 1vw;
    height:1%;
    font-style: italic;
    font-weight: bold ;
    
}

details > ul {
    display:block;
    margin-left: 1vw;
    padding-left: 1vw;
    padding-top: 0.5vw;
    list-style-type: none;
    font-size: 1.25vw;
    
    
}

details ul li {
    font-size:1.2vw;
}

details ul li span{
    cursor: pointer;
}


details > ul > li::before {
    content: '📄 ';
}

details[open] > ul > li::before {
    content: '📄 ';
}

details > summary::before {
    content: '📁 ';
}


#div_content{
    background-color: #e2fdfd;
    margin-left:30%;
    width: 70%;
    height: 100%;
    margin-top:-61%;

}

#init_experience{
    position: absolute;
    padding-top: 20%;
    margin-left:14%;
    margin-top: -10%;
    z-index: 1;
}


#title_learning_area{
    text-align: center; 
    font-size:5vw; 
    margin:0;
    /*font-family: 'MS Sans Serif', system-ui, 'Courier New', sans-serif;*/
    font-family: 'Times New Roman', Times, serif;
    color:#b2ba42;
    font-weight: bolder;
}

#init_text_experience{
    text-align: center; 
    font-size:5vw; 
    margin:0;
}

#div_prodat{
    position: absolute;
    margin-top:0%;
    display: none;
    background-color: #e2fdfd;
    /*background-color: #104b4b;*/
    width: 44.15vw;
    height:38.3vw;
    z-index: 1;
}

#prodat_title{
    font-size:3.5vw; 
    color: rgb(68, 131, 248); 
    font-weight: bold; 
    font-family: 'Times New Roman', Times, serif; 
    margin:0; 
    padding-left:3%; 
    width: 25vw;
}

#prodat_contrato_title {
    font-size: 1.5vw;
    color: rgb(68, 131, 248);
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    padding-right: 2%;
    width: 50%;
    height: 5%;
    margin: 0; 
    text-align: right;
}

#p_prodat_tareas{
    padding-top:2%; 
    padding-left:2%; 
    padding-right:2%; 
    text-align: justify; 
    font-size:1vw; 
    margin:0;
    
}

#p_prodat_habs{
    padding-top:2%; 
    padding-left:2%; 
    padding-right:2%; 
    text-align: justify; 
    font-size:1vw; 
    line-height: 1.7vw; 
    margin:0; 
}

#button_prodat{
    font-family: 'Times New Roman' Times, serif; 
    font-weight: bold; 
    color:blue; 
    font-style: italic; 
    padding:2%; 
    font-size: 2vw; 
    padding-top: 10%;
}


#div_appia{
    position: absolute;
    margin-top:0%;
    display: none;
    background-color: #e2fdfd;
    /*background-color: #104b4b;*/
    width: 44.15vw;
    height:38.3vw;
    z-index: 1;
}

#appia_title{
    font-size:3.5vw; 
    color: rgb(158, 230, 132); 
    font-weight: bold; 
    font-family: 'Times New Roman', Times, serif; 
    margin:0; 
    padding-left:3%; 
    width: 25vw;
}

#appia_contrato_title{
    font-size:1.5vw; 
    color: rgb(129, 189, 107); 
    font-weight: bold; 
    font-family: 'Times New Roman', Times, serif;  
    padding-right:2%; 

    height: 5%; 
    margin:0; 
    text-align: right;

}

#p_appia_tareas{
    padding-top:2%; 
    padding-left:2%; 
    padding-right:2%; 
    text-align: justify; 
    font-size:1vw; 
    margin:0;
    
}

#p_appia_habs{
    padding-top:2%; 
    padding-left:2%; 
    padding-right:2%; 
    text-align: justify; 
    font-size:1vw; 
    line-height: 1.7vw; 
    margin:0; 
}

#button_appia{
    font-family: 'Times New Roman' Times, serif; 
    font-weight: bold; 
    color:blue; 
    font-style: italic; 
    padding:2%; 
    font-size: 2vw; 
    padding-top: 10%;
}

#div_fisco{
    position: absolute;
    margin-top:0%;
    display: none;
    background-color: #e2fdfd;
    /*background-color: #104b4b;*/
    width: 44.15vw;
    height:38.3vw;
    z-index: 1;
}


#button_fisco{
    font-family: 'Times New Roman', Times, serif; 
    font-weight: bold; 
    color:blue; 
    font-style: italic; 
    padding:2%; 
    font-size: 2vw; 
    margin-top:30%;
}

#button_fisco_text{
    font-family: 'Times New Roman', Times, serif; 
    font-weight: bold; 
    color:blue; 
    font-style: italic; 
    font-size: 2vw; 
    cursor: pointer; 
    margin-left:20%;
}

#fisco_title{
    font-size:3.5vw; 
    color: rgb(36, 91, 193); 
    font-weight: bold; 
    font-family: 'Times New Roman', Times, serif; 
    margin-bottom:1%; 
    padding-left:3%; 
    width: 25vw;
}

#fisco_contrato_title {
    font-size:1.5vw; 
    color: rgb(36, 91, 193); 
    font-weight: bold; 
    font-family: 'Times New Roman',  Times, serif; 
    padding-right:2%; 
   
    height: 5%; 
    margin:0; 
    text-align: right;


}

#p_fisco_tareas{
    padding-top:2%; 
    padding-left:2%; 
    padding-right:2%;
    text-align: justify;
    font-size:1.2vw; 
    margin:0; 
    line-height: 2vw;
}

#p_fisco_habs{
    padding-top:2%; 
    padding-left:2%; 
    padding-right:2%; 
    text-align: justify; 
    font-size:1.2vw; 
    line-height: 1.7vw; 
    margin:0; 
    line-height: 2.3vw;
}



 
/* For Vertical Mobile/Tablet */
@media only screen and (max-width: 900px) and (max-height: 900px) and (orientation: portrait), 
       only screen and (max-width: 900px) and  (orientation: portrait) {



        div#container_window_info{
            display: block;
            width: 65vw; 
            height: 45vw; 
            
            background-image: url("../resources/window_info.png");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            
            
            left: 50%;
            transform: translateY(-12%) translateX(-50%) scale(1.5);
            overflow: hidden;
            z-index:1;
        
        }

        #container_bar_learning{
            margin-top:0.5%;
           
        }

        #button_fisco{
            font-size: 1.75vw; 
            
        }

        #button_fisco_text{

            font-family: 'Times New Roman', Times, serif; 
            font-weight: bold; 
            color:blue; 
            font-style: italic; 
            font-size: 1.65vw; 
            margin-left:18%;
            cursor: pointer; 

            
        }

        #prodat_contrato_title{
            font-size:1.25vw;
            
        }


     

}


/*For Horizontal Mobile*/
@media only screen and (min-width: 600px) and (max-width: 950px) and (orientation: landscape) {
    
    div#container_window_info{
        transform: translate(-50%, -50%) scale(0.83);
    }

    #button_fisco{
        font-size: 1.75vw; 
        
    }

    #button_fisco_text{

        font-family: 'Times New Roman', Times, serif; 
        font-weight: bold; 
        color:blue; 
        font-style: italic; 
        font-size: 1.65vw; 
        margin-left:18%;
        cursor: pointer; 

        
    }

    #prodat_contrato_title{
        font-size:1.25vw;
        
    }

}
